<style>
h4 {
  font-size: 2px;
}

h1 {
  color: rgb(1,45,91);
  font-size: 45pt;
}
h2 {
  color: rgb(79,116,139);
  font-size: 35pt;
}
h3 {
  text-decoration: underline;
}
body {
  background-color: lightgrey;
}
p {
  font: bold, italics;
}
img {
  height: 100px;
}
</style>
